@page
@model littleTokyo.Pages.Menus.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Menu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.itemName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.itemName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.itemDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.itemDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.itemPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.itemPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.category)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Menu?.ID" class="btn btn-danger">Edit</a> 
    <a asp-page="../Menus/Index" class="btn btn-danger">Back to List</a>
</div>
